.Layout{
  height: 100vh;
}

header{
  padding: 16px;
  max-width: 1020px;
  margin: 0 auto;
}

main.layout_content {
  padding: 16px;
  min-height: calc(80vh - 64px - 150px );
  max-width: 1020px;
  margin: 0 auto;
}

main.layout_content > button{
  margin-bottom: 32px;
}

footer{
  padding: 16px;
  max-width: 1020px;
  margin: 0 auto;
}
footer p{
  text-align: center;
  margin-bottom: 32px;
}
footer img{
  margin-bottom: 16px;
  margin-right: 16px;
}

@media (min-width: 768px) {
  .layout_content{
    align-items: center;
  }
}