.Layout{
  height: 100vh;
}

header{
  padding: 16px;
}
h1{
  font-size: 2.5em;
}
main.layout_content {
  padding: 16px;
  min-height: calc(80vh - 64px - 150px );
}

main.layout_content .content_review img{
  margin-left: 16px;
}
main.layout_content .content_description{
  margin-bottom: 16px;
}
main.layout_content .content_description p{
  line-height: 30px;
}
main.layout_content .content_description span{
  color: #F6B300;
}

main.layout_content > button{
  margin-bottom: 32px;
}

footer{
  padding: 16px;
}
footer p{
  text-align: center;
  margin-bottom: 32px;
}
footer img{
  margin-bottom: 16px;
  margin-right: 16px;
}